Repository quantified-uncertainty/squiggle, pull requests merged in 2022-05, with the labels that each got.

#434 Reducer dev
  packages/components/src/components/SquiggleChart.tsx
  packages/squiggle-lang/__tests__/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltInMacros_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_Expression/Reducer_Expression_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_MathJs/Reducer_MathJsEval_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_MathJs/Reducer_MathJsParse_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_TestHelpers.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_TestMacroHelpers.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_debugging_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_externalBindings_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_functionAssignment_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_functionTricks_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_test.res
  packages/squiggle-lang/__tests__/ReducerInterface/ReducerInterface_Distribution_test.res
  packages/squiggle-lang/__tests__/ReducerInterface/ReducerInterface_ExpressionValue_test.res
  packages/squiggle-lang/package.json
  packages/squiggle-lang/src/js/distribution.ts
  packages/squiggle-lang/src/js/index.ts
  packages/squiggle-lang/src/js/rescript_interop.ts
  packages/squiggle-lang/src/rescript/Distributions/DistributionOperation/DistributionOperation.res
  packages/squiggle-lang/src/rescript/Distributions/DistributionOperation/DistributionOperation.resi
  packages/squiggle-lang/src/rescript/Distributions/DistributionTypes.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer.resi
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltIn.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltInMacros.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_ErrorValue.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_ExpressionWithContext.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_Bindings.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_ExpressionBuilder.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_Lambda.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_Macro.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_T.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Js/Reducer_Js_Gate.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_MathJs/Reducer_MathJs_Parse.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_MathJs/Reducer_MathJs_ToExpression.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_ExpressionValue.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_ExternalLibrary.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_GenericDistribution.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_GenericDistribution.resi
  packages/squiggle-lang/src/rescript/TypescriptInterface.res
Labels: programming language, Lang: Core Interpreter

#511 Re-added `^`-versioning to mathjs
  packages/squiggle-lang/package.json
  yarn.lock
Labels: dependencies

#507 some docs and ops stuff: may 10th
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  README.md
  packages/components/README.md
  packages/squiggle-lang/README.md
  packages/squiggle-lang/package.json
  packages/squiggle-lang/src/js/distribution.ts
  packages/squiggle-lang/src/rescript/Distributions/DistributionOperation.res
  packages/squiggle-lang/src/rescript/Distributions/DistributionOperation.resi
  packages/squiggle-lang/src/rescript/Distributions/GenericDist.res
  packages/squiggle-lang/src/rescript/Distributions/GenericDist.resi
  packages/squiggle-lang/src/rescript/Distributions/README.md
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_GenericDistribution.res
  packages/website/docs/Discussions/Bugs.mdx
  packages/website/docs/Discussions/Future-Features.md
  packages/website/docs/Discussions/Gallery.md
  packages/website/docs/Discussions/Three-Formats-Of-Distributions.md
  packages/website/docs/Features/Distributions.mdx
  packages/website/docs/Features/Functions.mdx
  packages/website/docs/Features/Language.mdx
  packages/website/docs/Features/Node-Packages.md
  packages/website/docs/Introduction.md
  packages/website/docusaurus.config.js
  packages/website/package.json
  packages/website/src/pages/index.js
  packages/website/src/pages/markdown-page.md
  yarn.lock
Labels: documentation, operations

#546 Reducer dev: New parser
  packages/squiggle-lang/__tests__/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltInMacros_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltIn_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_MathJs/Reducer_MathJsParse_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_Peggy/Reducer_Peggy_Parse_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_Peggy/Reducer_Peggy_ToExpression_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_TestHelpers.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_externalBindings_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_functionAssignment_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_functionTricks_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_ternaryOperator_test.res
  packages/squiggle-lang/__tests__/Reducer/Reducer_test.res
  packages/squiggle-lang/__tests__/ReducerInterface/ReducerInterface_Distribution_test.res
  packages/squiggle-lang/package.json
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltIn.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Dispatch/Reducer_Dispatch_BuiltInMacros.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_ErrorValue.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_ExpressionBuilder.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Expression/Reducer_Expression_T.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_MathJs/Reducer_MathJs.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_MathJs/Reducer_MathJs_Parse.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_MathJs/Reducer_MathJs_ToExpression.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_GeneratedParser.js
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_GeneratedParser.peggy
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_Parse.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_ToExpression.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_ExpressionValue.res
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_GenericDistribution.res
  yarn.lock
Labels: programming language, Lang: Parser

#579 closes 576
  .prettierignore
  packages/squiggle-lang/.gitignore
  packages/squiggle-lang/.prettierignore
  packages/squiggle-lang/package.json
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_GeneratedParser.js
Labels: ops & testing, operations, Lang: Parser

#545 Function registry
  packages/squiggle-lang/__tests__/ReducerInterface/ReducerInterface_Distribution_test.res
  packages/squiggle-lang/src/rescript/Distributions/GenericDist.res
  packages/squiggle-lang/src/rescript/Distributions/GenericDist.resi
  packages/squiggle-lang/src/rescript/FunctionRegistry/FunctionRegistry_Core.res
  packages/squiggle-lang/src/rescript/FunctionRegistry/FunctionRegistry_Core.resi
  packages/squiggle-lang/src/rescript/FunctionRegistry/FunctionRegistry_Helpers.res
  packages/squiggle-lang/src/rescript/FunctionRegistry/FunctionRegistry_Library.res
  packages/squiggle-lang/src/rescript/FunctionRegistry/README.md
  packages/squiggle-lang/src/rescript/ReducerInterface/ReducerInterface_GenericDistribution.res
  packages/squiggle-lang/src/rescript/Utility/E.res
  packages/squiggle-lang/src/rescript/Utility/Operation.res
Labels: programming language

#578 Reducer: Add Units (reimplemented)
  packages/squiggle-lang/__tests__/Reducer/Reducer_Peggy/Reducer_Peggy_Parse_test.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_ErrorValue.res
  packages/squiggle-lang/src/rescript/Reducer/Reducer_Peggy/Reducer_Peggy_GeneratedParser.peggy
Labels: Lang: Core Interpreter
