Repository quantified-uncertainty/squiggle, pull requests merged in 2023-05, with the labels that each got.

#1808 Buttons, icons, dropdowns
  .changeset/gentle-panthers-carry.md
  packages/components/src/components/DistributionsChart/index.tsx
  packages/components/src/components/SquiggleContainer.tsx
  packages/hub/package.json
  packages/hub/src/app/ClientApp.tsx
  packages/hub/src/app/new-model/NewModel.tsx
  packages/hub/src/app/page.tsx
  packages/hub/src/app/settings/choose-username/ChooseUsername.tsx
  packages/hub/src/app/users/[username]/UserView.tsx
  packages/hub/src/app/users/[username]/models/[slug]/DeleteModelAction.tsx
  packages/hub/src/app/users/[username]/models/[slug]/DeleteModelButton.tsx
  packages/hub/src/app/users/[username]/models/[slug]/SquiggleSnippetForm.tsx
  packages/hub/src/components/layout/UserControls.tsx
  packages/hub/src/components/ui/DotsDropdown.tsx
  packages/hub/src/components/ui/DropdownMenuLinkItem.tsx
  packages/hub/src/graphql/schema/mutations/setUsername.ts
  packages/relative-values/src/components/Interface/ModelPicker.tsx
  packages/relative-values/src/components/Tailwind.tsx
  packages/relative-values/src/components/View/ListView/ColumnHeader.tsx
  packages/relative-values/src/components/View/ListView/index.tsx
  packages/relative-values/src/components/View/PlotView/ForcePlot.tsx
  packages/relative-values/src/components/View/PlotView/ValueAndUncertaintyPlot.tsx
  packages/relative-values/src/components/ui/DropdownButton.tsx
  packages/relative-values/src/components/ui/StyledTabLink.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Dropdown/CommonItem.tsx
  packages/ui/src/components/Dropdown/DropdownMenu.tsx
  packages/ui/src/components/Dropdown/DropdownMenuActionItem.tsx
  packages/ui/src/components/Dropdown/DropdownMenuAsyncActionItem.tsx
  packages/ui/src/components/Dropdown/index.tsx
  packages/ui/src/components/Modal.tsx
  packages/ui/src/components/MouseTooltip.tsx
  packages/ui/src/components/WithToasts/index.tsx
  packages/ui/src/icons/CheckCircleIcon.tsx
  packages/ui/src/icons/DotsHorizontalIcon.tsx
  packages/ui/src/icons/ErrorIcon.tsx
  packages/ui/src/icons/ExternalLinkIcon.tsx
  packages/ui/src/icons/Icon.tsx
  packages/ui/src/icons/RefreshIcon.tsx
  packages/ui/src/icons/SignOutIcon.tsx
  packages/ui/src/icons/TrashIcon.tsx
  packages/ui/src/index.ts
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Dropdown.stories.tsx
  packages/ui/src/stories/Icons/DotsHorizontalIcon.stories.tsx
  packages/ui/src/stories/Icons/ExternalLinkIcon.stories.tsx
  packages/ui/src/stories/Icons/RefreshIcon.stories.tsx
  packages/ui/src/stories/Icons/SignOutIcon.stories.tsx
  packages/ui/src/stories/Icons/TrashIcon.stories.tsx
  packages/ui/src/stories/Toast.stories.tsx
Labels: Hub

#1800 Import improvements
  .vscode/extensions.json
  packages/components/src/languageSupport/squiggle.grammar
  packages/components/src/languageSupport/squiggle.ts
  packages/prettier-plugin/src/shared.ts
  packages/prettier-plugin/test/main.test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_Topology_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_imports_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_includes_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_1_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_2_multisource_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_3_imports_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_3_includes_test.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_4_injecting_user_values.ts
  packages/squiggle-lang/__tests__/SqProject/SqProject_tutorial_5_calling_functions.ts
  packages/squiggle-lang/__tests__/cli_test.ts
  packages/squiggle-lang/__tests__/fixtures/imports/lib.squiggle
  packages/squiggle-lang/__tests__/fixtures/imports/lib2.squiggle
  packages/squiggle-lang/__tests__/fixtures/imports/main.squiggle
  packages/squiggle-lang/__tests__/fixtures/includes/main.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/common.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/dir1/common.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/dir1/lib.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/dir2/common.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/dir2/lib.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-imports/main.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-includes/dir1/lib.squiggle
  packages/squiggle-lang/__tests__/fixtures/relative-includes/dir2/lib.squiggle
  packages/squiggle-lang/__tests__/public_api_test.ts
  packages/squiggle-lang/package.json
  packages/squiggle-lang/src/ast/peggyHelpers.ts
  packages/squiggle-lang/src/ast/peggyParser.peggy
  packages/squiggle-lang/src/cli/makeProgram.ts
  packages/squiggle-lang/src/cli/utils.ts
  packages/squiggle-lang/src/expression/index.ts
  packages/squiggle-lang/src/public/SqProject/IncludeParser.peggy
  packages/squiggle-lang/src/public/SqProject/ProjectItem.ts
  packages/squiggle-lang/src/public/SqProject/Topology.ts
  packages/squiggle-lang/src/public/SqProject/index.ts
  packages/squiggle-lang/src/public/SqProject/parseIncludes.ts
  packages/squiggle-lang/src/scripts/bench-map-reduce.ts
  packages/squiggle-lang/src/scripts/bench-map.ts
  packages/squiggle-lang/src/scripts/bench-sampleset-to-pointset.ts
  packages/vscode-ext/syntaxes/squiggle.tmLanguage.yaml
Labels: Language

#1830 Added plots to documentation
  packages/components/src/components/DistributionsChart/index.tsx
  packages/components/src/lib/draw/index.ts
  packages/website/docs/Api/Plot.mdx
Labels: Documentation, Web components
